USE [PROG455SP23]
GO
/****** Object:  StoredProcedure [dbo].[sp_Log]    Script Date: 5/11/2023 12:55:24 PM ******/
DROP PROCEDURE [dbo].[sp_Log]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPokemon]    Script Date: 5/11/2023 12:55:24 PM ******/
DROP PROCEDURE [dbo].[sp_InsertPokemon]
GO
ALTER TABLE [dbo].[Pokemon] DROP CONSTRAINT [FK_Pokemon_Type1]
GO
ALTER TABLE [dbo].[Pokemon] DROP CONSTRAINT [FK_Pokemon_Type]
GO
ALTER TABLE [dbo].[Pokemon] DROP CONSTRAINT [FK_Pokemon_Generation]
GO
ALTER TABLE [dbo].[Log] DROP CONSTRAINT [DF_Log_LogDate]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 5/11/2023 12:55:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Type]') AND type in (N'U'))
DROP TABLE [dbo].[Type]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 5/11/2023 12:55:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pokemon]') AND type in (N'U'))
DROP TABLE [dbo].[Pokemon]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 5/11/2023 12:55:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Log]') AND type in (N'U'))
DROP TABLE [dbo].[Log]
GO
/****** Object:  Table [dbo].[Generation]    Script Date: 5/11/2023 12:55:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Generation]') AND type in (N'U'))
DROP TABLE [dbo].[Generation]
GO
/****** Object:  Table [dbo].[Generation]    Script Date: 5/11/2023 12:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GenerationNumber] [int] NOT NULL,
	[RegionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Generation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 5/11/2023 12:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LogLevel] [nvarchar](50) NOT NULL,
	[LogMessage] [nvarchar](max) NOT NULL,
	[LogDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 5/11/2023 12:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TypeID] [int] NOT NULL,
	[AltTypeID] [int] NULL,
	[GenerationID] [int] NOT NULL,
 CONSTRAINT [PK_Pokemon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 5/11/2023 12:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[HexColor] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Generation] ON 

INSERT [dbo].[Generation] ([ID], [GenerationNumber], [RegionName]) VALUES (1, 1, N'Kanto')
INSERT [dbo].[Generation] ([ID], [GenerationNumber], [RegionName]) VALUES (2, 2, N'Johto')
INSERT [dbo].[Generation] ([ID], [GenerationNumber], [RegionName]) VALUES (3, 3, N'Hoenn')
SET IDENTITY_INSERT [dbo].[Generation] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([ID], [LogLevel], [LogMessage], [LogDate]) VALUES (1, N'1', N'Test', CAST(N'2023-05-11T00:35:35.770' AS DateTime))
INSERT [dbo].[Log] ([ID], [LogLevel], [LogMessage], [LogDate]) VALUES (2, N'test', N'test', CAST(N'2023-05-11T00:43:09.403' AS DateTime))
INSERT [dbo].[Log] ([ID], [LogLevel], [LogMessage], [LogDate]) VALUES (1002, N'Info', N'Log Test', CAST(N'2023-05-11T12:49:22.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[Pokemon] ON 

INSERT [dbo].[Pokemon] ([ID], [Name], [TypeID], [AltTypeID], [GenerationID]) VALUES (1, N'Bulbasaur', 1, 2, 1)
INSERT [dbo].[Pokemon] ([ID], [Name], [TypeID], [AltTypeID], [GenerationID]) VALUES (2, N'Ivysaur', 1, 2, 1)
INSERT [dbo].[Pokemon] ([ID], [Name], [TypeID], [AltTypeID], [GenerationID]) VALUES (3, N'Venusaur', 1, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[Pokemon] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([ID], [Name], [HexColor]) VALUES (1, N'Grass', N'7AC74C')
INSERT [dbo].[Type] ([ID], [Name], [HexColor]) VALUES (2, N'Poison', N'A33EA1')
INSERT [dbo].[Type] ([ID], [Name], [HexColor]) VALUES (3, N'Fire', N'EE8130')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF_Log_LogDate]  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Pokemon_Generation] FOREIGN KEY([GenerationID])
REFERENCES [dbo].[Generation] ([ID])
GO
ALTER TABLE [dbo].[Pokemon] CHECK CONSTRAINT [FK_Pokemon_Generation]
GO
ALTER TABLE [dbo].[Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Pokemon_Type] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[Pokemon] CHECK CONSTRAINT [FK_Pokemon_Type]
GO
ALTER TABLE [dbo].[Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Pokemon_Type1] FOREIGN KEY([AltTypeID])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[Pokemon] CHECK CONSTRAINT [FK_Pokemon_Type1]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPokemon]    Script Date: 5/11/2023 12:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertPokemon]
    @Name NVARCHAR(50),
    @TypeID INT,
    @AltTypeID INT,
    @GenerationID INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO [dbo].[Pokemon] ([Name], [TypeID], [AltTypeID], [GenerationID])
    VALUES (@Name, @TypeID, @AltTypeID, @GenerationID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Log]    Script Date: 5/11/2023 12:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Log]
	-- Add the parameters for the stored procedure here
	@LogLevel NVARCHAR(50),
	@LogMessage NVARCHAR(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Insert into [dbo].[Log] ([LogLevel],[LogMessage])
	Values(@LogLevel,@LogMessage)
END
GO
